{% extends 'layout.html' %}

{% block content %}

<div class="bs-example" data-example-id="hoverable-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Sender</th>
          <th>Recipient</th>
          <th>Delete Conversation</th>
        </tr>
      </thead>
      <tbody>

     {% for i in info %}
        <tr>
          <th scope="row"></th>
          <td>{{i.sender}}</td>
          <td>{{i.recipient}}</td>
          <td><a href="/myapp/email_manage/{{i.id}}">Delete</a></td>
        </tr>
     {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
