{% extends 'guest_layout.html' %}

{% block content %}
    <div class="container">
        <h2>Profile Maintenance</h2>
        <form method="post" enctype="multipart/form-data" action="/myapp/guest_profile_edit_upload">
            {% csrf_token %}
            <div class="form-group">
                <label for="bio">Biography</label>
                <textarea class="form-control" id="bio" name="bio" rows="3">{{ user.bio }}</textarea>
            </div>
            <div class="form-group">
                <label for="signature">Signature</label>
                <input type="text" class="form-control" id="signature" name="signature" value="{{ user.signature }}">
            </div>
            <div class="form-group">
                <label for="english_name">English Name</label>
                <input type="text" class="form-control" id="english_name" name="english_name" value="{{ user.english_name }}">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="text" class="form-control" id="phone" name="phone" value="{{ user.phone }}">
            </div>

            <div class="form-group">
                <label for="skills">Specialization</label>
                <input type="text" class="form-control" id="skills" name="skills" value="{{ user.skills }}">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" value="{{ user.email }}">
            </div>
            <div class="form-group">
                <label for="sex">Gender</label>
                <input type="text" class="form-control" id="sex" name="sex" value="{{ user.sex }}">
            </div>
            <div class="form-group">
                <label for="status">Status (Enter Leave/Available)</label>
                <input type="text" class="form-control" id="status" name="status" value="{{ user.status }}">
            </div>
            <div class="form-group">
                <label for="uid">ID</label>
                <input type="text" class="form-control" id="uid" name="uid" value="{{ user.uid }}">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}
