{% extends 'layout.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Manage Announcements</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Announcement Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
            <tr>
                <td>{{ question.title }}</td>
                <td>
                    <form method="post" action="/myapp/delete_question/{{question.id}}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
